<!DOCTYPE html>
<html lang="en" ng-app="helloWorldApp">
    <head>
        <title>A Proper Angular App</title>
        <link href="css/main.css" rel="stylesheet">
    </head>
    <body>
        <a href="#!first">first</a>
        <a href="#!second">Second</a> 
        <a href="#!redirect">Redirect</a>
        <a href="#!parameter">Parameter</a>
        <a href="#!calc">Calc</a>
        <a href="#!form">Form</a>
        <ng-view class="view"></ng-view>
    </body>
    <script src="js/scripts.js"></script>
</html>
